.scene-list {


}

.scene-list-item {

  display: inline-flex;

  border: 1px dotted lightgray;
  overflow: auto;
  width: 100%;

}

.list-item-title {

  margin: 2px;
  clear: left;
  float: left;
  width: 40%;

}

.list-item-dates {

    margin: auto 5px;
  float: left;
  font-size: .5em;
    vertical-align: bottom;
    width: 20%;

}

.list-item-created-at {

    margin: auto 5px;
  float: right;
  font-size: .5em;
  width: 20%;
}

.list-item-controls {

  margin: auto 5px;
  float: right;
  font-size: .8em;
  width: 20%;

}

.deleting {
  opacity: .5;
}

.edit-button {
  font-size: .8em;
  color: green;
  margin-right: 5%;
}

.delete-button {
  font-size: .8em;
  color: red;
}

.scene-header {
  border: 1px solid;
  padding: 10px;
  overflow: auto;
  width: 100%;
}

.scene-header-left {
  float: left;
  width: 75%;
}

.scene-header-right {
  float: right;
  width: 25%;
  height: 100%;
}

.scene-controls {
  border: 1px dotted;
  height: 100%;
}

.scene-name {
  vertical-align: top;
  font-weight: bold;
}

.scene-created-by {
  font-size: .7em;
}
